header {
	position: absolute;
	display: block;
	background-color: #e0dede;
	height: 12%;
	width: 100%;
	margin-top: 0;
}

header ul {
	list-style: none;
	display: flex;
}

header ul img {
	width: 5%;
	margin-right: 24rem;
}

header ul li {
	margin-right: 5rem;
	margin-top: 1rem;
	font-weight: 450;
}
